{% extends "base.html" %}
{% block content %}
<main class="gap-4 max-w-[1120px] mx-auto mt-4 custom-shadow rounded-xl p-7 bg-white">
  <h1 class="mb-4">My Reviews</h1>
  {% if reviews.count != 0 %}
  <table class="w-full">
    <thead>
      <tr class="p-3 bg-violet-200">
        <th class="p-2 rounded-l-md">Review</th>
        <th class="p-2">Car</th>
        <th class="p-2">Date</th>
        <th class="p-2 rounded-r-md">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <td class="p-2 border-b-2 border-violet-100">{{ review.content }}</td>
        <td class="p-2 border-b-2 border-violet-100">{{ review.car.car_type }}</td>
        <td class="p-2 border-b-2 border-violet-100">{{ review.created_at|date:"D d M Y" }}</td>
        <td class="p-2 border-b-2 border-violet-100">
          <div class="flex gap-3">
              <a href="{% url "delete_review" review.id %}" onclick="return confirm('Are you sure you want to delete this transaction?');"><i class="fa-solid fa-trash fa-xl text-rose-500"></i></a>
          </div>
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You don't have any reviews yet</p>
  {% endif %}
</main>
{% endblock content %}