{% extends "base.html" %}

{% load static %}

{% block content %}

<main class="w-full max-w-xl mx-auto mt-4">
    <form action="" method="post" class="bg-white custom-shadow rounded-xl px-8 pt-6 pb-8 mb-4">
        <h3 class="mb-3 font-medium text-center">Register Yourself</h3>
        {% csrf_token %}
        <div class="flex gap-3">
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="firstname">First name</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="firstname" id="firstname">
            </div>
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="lastname">Last name</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="lastname" id="lastname">
            </div>
        </div>
        <div class="flex gap-3">
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="username">username</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="username" id="username">
            </div>
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="password">Email</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="email" name="email" id="email">
            </div>
        </div>
        <div class="flex gap-3">
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="password1">Password</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password1" id="password1">
            </div>
            <div class="w-full">
                <label class="block text-gray-700 text-sm font-medium mb-2" for="password2">Confirm Password</label>
                <input class="appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password2" id="password2">
            </div>
        </div>
        <button  class="w-full bg-rose-500 hover:bg-rose-700 text-white font-bold mt-3 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Sign Up</button>
        <div class="mt-4 text-sm text-center">
            <p>Already have an account?</p>
            <a class="font-medium text-rose-500 no-underline font-medium" href="{% url "login" %}">Login</a>
        </div>
    </form>
</main>

{% endblock content %}

{% block footer %}

{% endblock footer %}